<!DOCTYPE html>
<html>
    <head>
        <!-- Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- socket io client -->
        <script type="text/javascript" src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
        <!-- local js files -->
        <script src="static/js/application.js"></script>
        <!-- Bootstrap css -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrit
              y="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"
        >
        <!-- Bootstrap javascript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <style>
            #alertBox{
                position:absolute;
                z-index:1400;
                top:2%;
                right:4%;
                margin:0px auto;
                text-align:center;
                display:none;
             }
        </style>
    </head>
    <body>
        <div class="container">
          <div class="jumbotron">
            <h1>Asynchronous Flask Communication</h1>
            <p>Alert will be sent from server, asynchronously.</p>
            <p>Details <a href='https://www.shanelynn.ie/asynchronous-updates-to-a-webpage-with-flask-and-socket-io/' target='_blank'>here.</a></p>
          </div>
        </div>
        <div id="alertBox" class="alert alert-success" data-alert="alert">Iot device error</div>
    </body>
</html>
